<template name="addCard">
    <h3>Add New Card</h3>
    <form class="add-card">
        <div class="form-group">
            <input type="text" name="question" class="form-control" placeholder="Question">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" name="answer" placeholder="Answer">
        </div>
        <div class="form-group">
            <input type="submit" class="form-control" value="Add card">

        </div>
    </form>
</template>