<template name="cardList">

    {{ #if isLoading }}
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 center-align">
            {{> App_loader}}
        </div>
    </div>
    {{ else }}

    {{#if isInRole 'admin'}}
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <a href="/create" class="float-right btn btn-outline-success">
                Add New Question
            </a>
            <div class="clearfix"></div>
        </div>
    </div>
    {{/if}}

    <div class="row">

        {{#each card in cards}}
        <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-10 col-md-10 col-lg-10">
                            <h5 class="card-title">{{card.title}}</h5>
                        </div>
                        <div class="col-sm-2 col-md-2 col-lg-2">
                            {{> App_player name=card._id audio=card.audio}}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <p class="card-subtitle mb-2 text-muted">{{length card.questions}} Questions</p>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-sm-6 col-md-6">
                            <a href="/card/{{card._id}}" class="text-success btn-play">
                                <i class="fa fa-play-circle-o"></i>
                            </a>
                        </div>
                        <div class="col-sm-6 col-md-6">
                            {{#if isInRole 'admin'}}
                            <span class="right">{{> App_cardAction cardId=card._id}}</span>
                            {{ /if }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}

    </div>
    {{ /if }}

</template>