<template name="cardList">

    <div class="row">

        {{#each card in cards}}
            <div class="col s12 m4">
                <div class="card">
                    <div class="card-content">
                        <p>{{card.title}}</p>
                    </div>
                    <div class="card-action">
                        <a href="#">{{length card.questions}} questions</a>
                    </div>
                </div>
            </div>
        {{/each}}
        
    </div>

    <a href="/create" class="fixed-action-btn btn-floating btn-large waves-effect waves-light red">
        <i class="material-icons">add</i>
    </a>

</template>