<template name="App_cardAction">
   
    <div class="dropdown">
        <button class="btn btn-link dropdown-toggle" type="button" id="dropdown-{{cardId}}" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Options
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdown-{{cardId}}">
            <a class="dropdown-item" href="/card-update/{{cardId}}">Update</a>
            <a class="dropdown-item" id="btn-delete">Delete</a>
            <a class="dropdown-item" href="/scores/{{cardId}}">My Score</a>
        </div>
    </div>

</template>