<template name="App_recorder">
    <div class="recorder">
        {{ #if isRecording }}
        <i id="btn-stop" class="fa fa-microphone-slash cursor-pointer"></i>
        {{ else }}
        <i id="btn-start" class="fa fa-microphone cursor-pointer"></i>
        {{ /if }}

        {{ #if url }}
        {{ #if isPlaying }}
        <i id="btn-stop-play" class="fa fa-stop cursor-pointer"></i>
        {{ else }}
        <i id="btn-play" class="fa fa-play cursor-pointer"></i>
        {{ /if }}

        <audio hidden="true" id="{{name}}" >
                <source src="{{url}}" type="audio/wav">
            Your browser does not support the audio element.
        </audio>
        {{ /if }}
    </div>
</template>