<template name="App_player">
    <div class="player">
        {{ #if url }}
            {{ #if isPlaying }}
            <i id="btn-stop" class="fa fa-microphone-slash cursor-pointer" area-hidden="true"></i>
            {{ else }}
            <i id="btn-play" class="fa fa-microphone cursor-pointer" area-hidden="true"></i>
            {{ /if }}
            <audio hidden="true" id="{{name}}">
                <source src="{{url}}" type="audio/wav">
                Your browser does not support the audio element.
            </audio>
        {{ /if }}
    </div>
</template>